.left_sidebar {
  background-color: $sidebar-color;
  padding-top: 120px;
  border-radius: 1px !important;
  padding-left: 4px;
  height: 100vh;
  li {
    margin-bottom: 50px;
    margin-right: 20px;
    a {
      &:hover {
        border-left: 4px solid $ocean;
        padding: 10px 0;
      }
    }
  }
}

.help_img {
  left: 40%;
  bottom: 1%;
  position: absolute;
}

.top_nav {
  min-height: 80px;
  background-color: $white;
  border-bottom: 1px solid $lite-grey;
}

.icons {
  margin: 28px !important;
  li {
    margin-left: 10px;
    float: left;
  }
  li.add_icon {
    a {
      display: block;
      height: 26px;
      width: 26px;
      background-image: url('../images/add.png');
      &:hover, &:visited, &:active {
        background-image: url('../images/add-active.png');
      }
    }
  }
}

.jane_btn {
  &:active, &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

form {
  i {
    margin-top: 43px;
    margin-left: 12px;
    position: absolute;
    color: $ocean;
  }
  .search-field {
    width: 100%;
    border: 1px solid $ocean !important;
    border-radius: 10px;
    padding: 14px 30px 11px 36px !important;
    margin-top: 25px;
    margin-right: 214px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: $dark-grey;
  background-color: transparent;
}

.dropdown {
  button {
    margin-top: 30px;
    margin-left: -80px;
    background: transparent;
  }
}

.bottom_nav {
  height: 50px;
  border-bottom: 1px solid $lite-grey;
  background-color: $white;
  box-shadow: 1px 2px 3px $border-color;
}

.btn.add_account_btn {
  border-radius: 13px !important;
  background-color: $ocean;
  color: $white !important;
  padding: 0 30px;
  margin-top: 15px;
  span {
    margin-left: 50px;
  }
}

.btn.newadd_btn {
  color: $white;
  background-color: $ocean;
  padding: 1px 20px;
  margin-top: 15px;
  margin-right: 56px;
  border-color: $ocean;
}

.spent_block {
  margin-top: 20px;
  height: 130px;

  .spent_hr {
    border-top: 3px solid $ocean;
    margin-top: 50px;
    margin-left: 180px;
  }
}

.dropdowns_panel {
  height: 50px;
}

.all_camp, .create_camp, .export_btn {
  margin-left: 10px !important;
  margin-top: 8px;
  background-color: $grey !important;
  color: $text-color;
  border-color: $text-color !important;
}

.left_dropdowns {
  span {
    color: $text-color !important;
  }
}

#pagination {
  li {
    a {
      margin-left: 15px !important;
      padding: 4px 10px;
      color: $text-color !important;
      border-radius: 6px;
      &:hover {
        background: $text-color;
        color: $white !important;
      }
    }
  }
}

#next {
  border: 1px solid transparent;
  background: none;
  &:hover, &:focus {
    background: none;
  }
}

#pagination .active a {
  background: $text-color;
  border: 1px solid $text-color;
  color: $white !important;
}

p {
  margin-top: 26px !important;
}

.table_block {

}

//border-color:$lite-grey !important;
