@media(max-width:480px){
    @import 'max480';
}

@media(min-width:768px)and(max-width:1024px){
    @import 'min768_max1024';
}

@media(min-width:481px)and(max-width:767px){
    @import 'min481_max767';
}