body {
  background: $body-bg !important;
  overflow: hidden;
  color: $text-color !important;
  font-family: 'opensans';
}

html, body, .sidenav, .left_sidebar, .page, .content {
  height: 100%;
}

input, button {
  &:focus {
    outline: none;
  }
}

button {
  border-color: transparent !important;
}

.dropdowns_panel, .spent_block, .table-bordered {
  margin-left: 46px;
  background-color: $white;
  box-shadow: 1px 2px 3px $border-color;
  margin-top: 20px;
}
